// cards.scss

// Cards

.cards {

    &__item {
        margin-bottom: 8px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 32px;
        }
    }

    &__item,
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include for-1366(){
            justify-content: flex-start;
        }
    }

    &__card {
        flex: 1 1 auto;
    }
}