.form-order {
   background: #E5E5E5;
   .container{
      @media (max-width:1023px){
         padding: 0;
      }
   }
   &__box {
      padding-bottom: 20px;
      // padding-top: 30px;
      @media screen and (min-width:1340px) {
         padding-top: 40px;
      }
   }
   &__header {
      margin-bottom: 32px;
      @media screen and (min-width: 1340px) {
         margin-bottom: 40px;
      }
   }
   .textarea-big{
      min-height: inherit;
      margin-top: 40px;
   }
}

.form-order-header {
   display: flex;
   flex-direction: column;
   font-family: $TT;
   margin-bottom: 33px;
   &__title {
      font-weight: 700;
      font-size: 44px;
      text-transform: uppercase;
      line-height: 44px;
      color: #150F0F;
      margin-bottom: 5px;
      letter-spacing: 0.04em;
      @media screen and (min-width: 1024px) {
         font-size: 80px;
         line-height: 80px;
         letter-spacing: 0.03em;
      }
      @media screen and (min-width: 1340px) {
         font-size: 120px;
         line-height: 120px;
         margin-bottom: 0;
        
      }

      @media screen and (min-width: 1600px) {
         font-size: 144px;
         line-height: 144px;
      }
   }
   @include for-1024(){
      padding-right: 100px;
      box-sizing: border-box;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
   }
   @include for-1366(){
      padding-right: calc((100vw - 1150px)/2);
   }
   @include for-1600(){
      // padding-right: 105px;
      padding-right: calc((100vw - 1350px)/2);
   }
   @include for-1920(){
      padding-right: calc((100vw - 1690px)/ 2);
   }

   &__result{
      @include for-1024(){
         margin-bottom: 15px;
      }
      @include for-1600(){

      }
   }
}

.form-box {
   // .textarea-big{
   //    @media (max-width:1023px){
   //       display: none;
   //    }
   // }
   .defaultModal__row {
      padding: 0;
   }
   &__container{
      // max-width: 1000px;
      // margin: 0 auto;
   }
   @include for-600(){
      // .defaultModal__container {
      //    margin-bottom: 8px;
      // }
   }
  
   @include for-1024(){
      .defaultModal__container {
         margin-bottom: 0;
      }
   }
   &__subtitle {
      font-family: $TT;
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 8px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      @media screen and (min-width: 600px) {
         font-size: 40px;
         line-height: 40px;
         margin-bottom: 16px;
      }
      @media screen and (min-width: 1024px) {
         font-size: 44px;
         line-height: 44px;
         margin-bottom: 20px;
        
      }
      @include for-1600(){
         font-size: 60px;
         line-height: 60px;
      }
   }
   
   &__block {
      font-family: $TT;
      margin-bottom: 24px;
      @media screen and (min-width: 1340px) {
         margin-bottom: 40px;
      }
      @include for-1600(){
         margin-bottom: 60px;
      }
      &--full-width{
         width: 100vw;
         position: relative;
         left: 50%;
         right: 50%;
         margin-left: -50vw;
         margin-right: -50vw;
         background: rgba(79, 86, 89, 0.1);
         padding: 16px 16px 8px;
         @include for-1024(){
            padding: 32px 0 40px;
         }
      }
   }

   &__choice {
      margin-bottom: 8px;
      .choice-box__header {
         padding: 11px 16px;
         background-color: #fff;
         @include for-1024(){
            padding: 24px 16px;
         }
         @media screen and (min-width: 1340px) {
            padding: 19px 32px;
         }
         @include for-1600(){
            padding: 27px 32px;
         }
      }
   }

   &__tipe-delivery {
      background: rgba(79, 86, 89, 0.05);
      padding: 16px;
      margin: -4px 0;
      @include for-1024(){
         padding: 16px 24px;
      }
      @media screen and (min-width: 1340px) {
         padding: 32px 32px;
         margin-top: 8px;
         margin-bottom: 8px;
      }
   }

   .choice-box {
      font-family: $DM;
      &__wrapper {
         transition: .3s;
         z-index: 99999;
      }

      &__header {
         position: relative;
      }

      &__header-tipe {
         display: block;
         font-weight: 300;
       
         color: #50575A;
         font-size: 14px;
         line-height: 18px;
         position: absolute;
         left: 16px;
         top: 11px;
         letter-spacing: .05em;
         @include for-600(){
            font-size: 16px;
            line-height: 20px;
         }
         @include for-1024(){
            top: 18px;
         }
         @media screen and (min-width: 1360px) {
            top: 24px;
            left: 32px;
         }
         @include for-1600(){
            font-size: 20px;
            line-height: 24px;
            top: 26px;
         }
      }

      &__title {
         margin-top: 18px;
         font-weight: 300;
         font-size: 18px;
         line-height: 22px;
         padding: 0;
         @include for-600(){
            font-size: 20px !important;
            line-height: 24px !important;
         }
         @include for-1024(){
            font-size: 24px !important;
            line-height: 28px !important;
         }
         @media screen and (min-width: 1360px)  {
            margin-top: 26px;
            font-size: 28px !important;
            line-height: 32px !important;
            letter-spacing: .03em;
         }
         @include for-1600(){
            font-size: 36px !important;
            line-height: 36px !important;
            margin-top: 23px;
         }
      }

      &__item {
         padding: 0;
         border-left: none;
         border-right: none;
      }

      &__item-title {
         padding: 16px;
         padding-bottom: 24px;
      }

      &__label {
         display: block;
         width: 100%;
         padding: 16px;
         @media screen and (min-width: 1340px) {
            padding: 15px 32px;
         }
      }
   }
}

.delivery-tipe {
   font-family: $DM;
  

   &__title {
      display: block;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 8px;
      color: #150F0F;
      @media screen and (min-width: 1340px) {
         font-size: 16px;
         line-height: 24px;
         margin-bottom: 6px;
         letter-spacing: .03em;
      }
      @include for-1600(){
         font-size: 20px;
         line-height: 24px;
      }
   }

   &__name {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: .03em;
      // margin-right: -20px;
      // @include for-1024(){
      //    margin-right: 0;
      // }
      @media screen and (min-width: 1340px) {
         font-size: 24px;
         line-height: 28px;
      }
      @include for-1600(){
         font-size: 32px;
         line-height: 32px;
      }
   }

   &__choice-item {
      margin-bottom: 8px;
      display: flex;
      align-items: flex-start;
      &:last-child {
         margin-bottom: 0;
      }

      @media screen and (min-width: 1340px) {
         align-items: center;
      }
   }

   &__label {
      display: flex;
      
     margin-right: 0;
      position: relative;
      @include for-1024(){
         align-items: center;
      }
      @media screen and (min-width: 1340px) {
         margin-right: 12px;
      }
   }

   &__input {
      width: 0;
      height: 0;
      border: 0;
      opacity: 0;
      position: absolute;
   }

   &__custom {
      display: block;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 100%;
      position: relative;
      margin-right: 12px;
      flex-shrink: 0;
      cursor: pointer;
      &::after {
         content: '';
         display: block;
         width: 0;
         height: 0;
         opacity: 0;
         background-color: #DD2B1C;

         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         border-radius: 100%;
         transition: .3s;
      }
   }

   &__input:checked ~ .delivery-tipe__custom::after {
      width: 12px;
      height: 12px;
      opacity: 1; 
   }

   @media screen and (min-width: 1340px) {
      &__custom {
         width: 32px;
         height: 32px;
      }
      &__input:checked ~ .delivery-tipe__custom::after {
         width: 16px;
         height: 16px;
      }
   }
}

.button-order-fix {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;  
   padding: 18px 16px;  
   border: none;
   background-color: #DD2B1C;
   display: flex;
   align-items: center;
   justify-content: space-between;

   font-size: 28px;
   line-height: 1;
   text-transform: uppercase;
   font-weight: 700;
   font-family: $TT;
   color: #fff;
   cursor: pointer;
   z-index: 5000;
   @include for-600(){
      font-size: 40px;
   }
   @include for-1024(){
      padding: 18px 32px;
   }
   span{
      letter-spacing: .05em;
   }
   &__icon {
      width: 16px;
      height: 16px;
      fill: #fff;
      opacity: 0.4;
      transition: .3s;
   }

   &__line {
      position: absolute;
      left: 16px;
      bottom: 0;
      // transform: translateX(-50%);

      height: 2px;
      width: calc(100% - 32px);
      background: rgba(255, 255, 255, 0.2);
      @include for-1024(){
         left: 32px;
         width: calc(100% - 64px);
      }
      @include for-1600(){
         left: 48px;
         width: calc(100% - 96px);
      }
      &::after {
         content: '';
         display: block;
         width: 0;
         height: 100%;
         background-color: #fff;

         position: absolute;
         bottom: 0;
         left: 0;
         transition: .8s;
      }
   }

   @include for-1024(){
      &:hover {
         .button-order-fix__line::after {
            width: 100%;
         }
   
         .button-order-fix__icon {
            opacity: 1;
         }
      }
   }
   @media screen and (min-width: 1340px)  {
      padding: 30px 32px;
      font-size: 44px;
      line-height: 44px;
      &__icon {
         width: 24px;
         height: 24px;
      }

      &__line {
         height: 4px;
      }
   }

   @media screen and (min-width: 1600px) {
      padding: 34px 48px;
      font-size: 60px;
      line-height: 60px;
   }
}

.drag-drop {
   display: none;
   #fileselect {
      height: 0 !important;
      width: 0 !important;
      opacity: 0 !important;
      position: absolute !important;
      font-size: 0 !important;
   }
   #submitbutton {
      height: 0 !important;
      width: 0 !important;
      opacity: 0 !important;
      position: absolute !important;
      font-size: 0 !important;
   }

   // &__custom {
   //    cursor: pointer;
   //    width: 56px;
   //    height: 56px;
   //    background: rgba(79, 86, 89, 0.1);

   //    display: flex;
   //    align-items: center;
   //    justify-content: center;

   //    .icon {
   //       width: 24px;
   //       height: 24px;
   //       fill: #DD2B1C;
   //    }
   // }

      fieldset {
         outline: none;
         border: none;
      }

      background-color: #fff;
      font-family: $DM;
      display: flex;
      padding: 32px;
      align-items: center;
      justify-content: space-between;

      &__block {
         display: flex;
         align-items: center;
         justify-content: space-between;
      }

      &__desc {
         font-weight: 300;
         font-size: 20px;
         line-height: 24px;
         color: rgba(79, 86, 89, 0.7);
         display: flex;
         flex-direction: column;
         gap: 4px;
      }

      &__btn {
         position: relative;
         cursor: pointer;
      }

      &__input {
         width: 0;
         height: 0;
         opacity: 0;
         position: absolute;
         font-size: 0;
      }
}

.defaultModal__container--comment {
   padding-top: 10px;
   .defaultModal__input-placeholder {
      top: 40px;
   }
}

.form-box__block {
   fieldset {
      font-family: $DM;
      background-color: #fff;
      padding: 32px;
      border: none;
      margin: 0;
   }
   #filedrag > {
      .drag-drop__title {
         display: flex;
         font-weight: 300;
         font-size: 28px;
         line-height: 32px;
         color: #150F0F;
         letter-spacing: .03em;
         margin-bottom: 5px;
         span {
            margin-left: 5px;
            color: rgba(79, 86, 89, 0.7);
         }
         // .drag-drop__custom{
         //    margin-left: auto;
         // }

         @include for-1600(){
            font-size: 36px;
            line-height: 36px;
            margin-bottom: 13px;
         }
      }
   }
   

   // .drag-drop__custom {
   //    display: flex;
   //    margin-left: auto;
   // }

   .drag-drop__desc {
      max-width: 505px;
      margin-bottom: 10px;
      letter-spacing: .03em;
   }

   #fileselect {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
   }

   #messages{
      font-family: $DM;
      font-weight: 300;
   }
}

// .form-box__block--drop {
//    display: none;
//    @media screen and (min-width: 1024px) {
//       display: block;
//    }
// }
.form__box-item .defaultModal__container.textarea-big {
   margin-bottom: 0;
}
.textarea-big {
   .defaultModal__input-placeholder {
      top: 32px;
      @include for-1600(){
         top: 40px;
      }
   }
}

.defaultModal__wrapper .defaultModal__container{
   margin-bottom: 0;
}

.form-box__window{
   position: relative;
   // .drag-drop__custom{
   //    position: absolute;
   //    top: 55px;
   //    right: 32px;
   //    @include for-1600(){
   //       top: 67px;
   //       right: 40px;
   //    }
   // }
}
.form-order__box.page__box{
   @include for-1600(){
      padding-left: 48px;
      padding-right: 48px;
   }
}

.form-box__button svg{
   transform: rotate(270deg);
}

.container--w30 + .container--w70{

   @include for-1366(){
      margin-top: 0;
   }
}

.linkLabel__box--form{
   cursor: pointer;
}
.fancybox__container{
   z-index: 9999;
}