// requisite-card.scss

// Requisite Card

.requisite-card {
    padding: 16px 16px 4px;
    @include for-600(){
        padding: 13px 16px 5px;
    }
    @media screen and (min-width: 1340px) {
        padding: 25px 32px 5px;
    }

    &__title {
        letter-spacing: .05em;

        @media screen and (min-width: 1340px) {
            letter-spacing: .06em;
        }

        @media screen and (min-width: 1600px) {
            letter-spacing: .05em;
        }
    }

    &__list {
        margin-top: 16px;
        letter-spacing: .03em;

        @media screen and (min-width: 600px) {
            display: flex;
            flex-wrap: wrap;
            margin-left: -6px;
            margin-right: -6px;
        }

        @media screen and (min-width: 1340px) {
            display: block;
            margin: 24px 0 0;
            letter-spacing: .05em;
        }
    }

    &__item {
        margin-bottom: 12px;

        @media screen and (min-width: 600px) {
            flex: 0 0 auto;
            width: 50%;
            padding-left: 6px;
            padding-right: 6px;
        }

        @media screen and (min-width: 1340px) {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: auto;
            margin-bottom: 20px;
            padding: 0;
        }

        &::before {

            @media screen and (min-width: 1340px) {
                content: ' ';
                display: block;
                order: 2;
                height: 2px;
                margin: 4px;
                flex: 1 1 auto;
                // background: linear-gradient(90deg, rgba(79, 86, 89, 0.2) 0, rgba(79, 86, 89, 0.2) 50%, transparent 50%, transparent 100%) repeat-x;
                background-size: 4px;
                pointer-events: none;
                border-bottom: 2px dotted rgba(79, 86, 89, 0.2);
            }
        }
    }

    &__property {
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */
        
        letter-spacing: 0.03em;
        
        /* txt/black */
        
        color: #150F0F;
        font-family: $DM;
        @include for-600(){
            font-size: 18px;
            line-height: 22px;
            /* identical to box height, or 122% */
            
            letter-spacing: 0.03em;
            
            /* ui/gray 1 */
            
            color: #50575A;
            
        }
        @media screen and (min-width: 1340px) {
            order: 1;
            flex: 0 0 auto;
        }
    }

    &__value {

        @media screen and (min-width: 600px) {
            margin-top: 1px;
        }

        @media screen and (min-width: 1340px) {
            order: 3;
            flex: 0 0 auto;
            width: 258px;
            margin: 0;
        }
    }
}