.page__section.you-order {
   padding-top: 90px;
   padding-bottom: 150px;
   @media screen and (min-width: 1024px) {
      padding-top: 110px;
   }
   @media screen and (min-width: 1600px) {
      padding-top: 150px;
      padding-bottom: 200px;
   }
}

.you-order {
   background-color: #e5e5e5;
   font-family: $TT;

   &__header {
      margin-bottom: 30px;
   }

   &__body.container--big-p  {
      padding-bottom: 80px;
   }
   .choice-box__btn{
      @media (max-width:1023px){
         margin-right: 15px;
      }
   }
}

.order-header {
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   position: relative;
   @include for-600(){
      padding-top: 10px;
      margin-bottom: 16px;
   }
   @include for-1024(){
      padding-top: 0;
   }
   &__title {
      font-size: 50px;
      font-weight: 700;
      color: #150F0F;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 0.04em;
      @include for-600(){
         font-size: 90px;
         letter-spacing: 0.03em;
         margin-bottom: 26px;
      }
      @include for-1024(){
         margin-bottom: 0;
      }
      @include for-1600(){
         font-size: 144px;
         line-height: 144px;
      }
   }

   .result-list {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
      color: #150f0f21;
      &__count {
         color: #150F0F;
      }
   }
   &__print{
      position: absolute;
      right: 0;
      top: 21px;
      @include for-600(){
         top: 70px;
      }
      @include for-1024(){
         top: 50px;
      }
      @include for-1366(){
         top: 80px;
      }
      @include for-1600(){
         top: 105px;
      }
  
   }

   @media screen and (min-width: 1024px) {
      &__result {
         display: none;
      }

      &__title {
         font-size: 80px;
      }
   }

   @media screen and (min-width: 1340px) {
      margin-bottom: 40px;

      &__title {
         font-size: 120px;
         line-height: 120px;
      }
   }
}

.order-table {
   max-width: 1080px;
   margin: 0 auto;
   width: 100%;
   font-family: $DM;
   font-weight: 300;
   font-size: 14px;
   line-height: 16px;
   color: #150F0F;
   @include for-1600(){
      max-width: 1248px;
   }
   @include for-1920(){
      max-width: 1514px;
   }
   &__header {
      display: none;
      border-bottom: 1px solid #e5e5e5;
      @include for-1024(){
         letter-spacing: .05em;
      }
   }

   .table-header {
      white-space: nowrap;
      &__body {
         width: 100%;
      }

      &__count {
         margin-right: 8%;
         @include for-1024(){
            margin-right: 120px;
         }
      }
   }
   @media screen and (min-width: 1024px) {
      &__header {
         display: flex;
         padding: 8px;
         background-color: #F5F5F5;
         padding-left: 112px;
         padding-right:58px;
      }
   }

   @media screen and (min-width: 1340px) {
      .table-header {
         padding-right: 87px;
         &__count {
            margin-right: 100px;
         }
      }
   }
   

   @media screen and (min-width: 1600px) {
      &__header {
         font-size: 16px;
         line-height: 20px;
         padding-right: 50px;
         padding-top: 15px;
         padding-bottom: 12px;
      }
      .table-header {
         padding-right: 75px;
         &__count {
            margin-right: 90px;
         }
      }
   }
}

.result-list {
   display: flex;
   align-items: center;
   text-transform: uppercase;
   &__item {
      margin-right: 18px;
      position: relative;
      &:last-child{
         margin-right: 0;
      }
      @include for-600(){
         margin-right: 23px;
      }
      &::after {
         content: '';
         position: absolute;
         right: -10px;
         top: 50%;
         transform: translateY(-50%);
         border-radius: 100%;

         display: block;
         width: 4px;
         height: 4px;
         background-color: #4f5659;
         @include for-600(){
            right: -12px;
         }
      }
      &:last-child::after {
         display: none;
      }
   }

   &__count {
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      color: #150F0F;
      margin-right: 4px;
      @include for-600(){
         font-size: 28px;

      }
      @include for-1600(){
         font-size: 36px;
 
      }
   }

   &__name {
      font-weight: 700;
      font-size: 24px;
      line-height: 1;
      color: rgba(79, 86, 89, 0.5);
      letter-spacing: 0.06em;
      @include for-600(){
         font-size: 28px;
  
      }
      @include for-1600(){
         font-size: 36px;

      }
   }
}

.print-link {
 
   display: flex;
   align-items: center;

   font-size: 16px;
   line-height: 20px;
   font-family: $DM;
   color: #4f5659;
   font-weight: 300;
   letter-spacing: .05em;
   transition: $transition;
   @include for-1024(){
      font-size: 20px;
      line-height: 24px;
   }
   &__icon {
      width: 24px;
      height: 24px;
      fill: #4f5659;
      margin-right: 10px;
      transition: $transition;
   }

   &:hover {
      @include for-1024(){
         color: #dd2b1c;

         svg{
            fill: #dd2b1c;
         }
      }
   }
}

.order-footer {
   max-width: 1920px;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   display: flex;
   align-items: center;
   position: fixed;
   bottom: 0;

   z-index: 501;
   height: 64px;
   transition: .1s;
   .order-footer__icon{
      @include for-1024(){
         transition: $transition !important;
         opacity: 1;
         fill: rgba(#fff,.2);
      }
   }
   @include for-600(){
      height: 76px;
   }
   &__item {
      height: 100%;
      width: 100%;
      padding: 15px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      letter-spacing: 0.05em;
      font-weight: 700;
      color: #FFF;
      text-transform: uppercase;
      white-space: nowrap;
      position: relative;
      width: 100%;
      .order-footer__icon{
         @media (min-width:1023px) and (max-width:1340px){
          
               margin-bottom: 6px;
           
         }
      }
      @include for-1024(){
         align-items: flex-end;
         padding: 23px 36px;
      }
      @include for-1366(){
         align-items: center;
      }
      &--result {
         display: none;
      }

      .order-footer__item-line {
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);

   
            width: calc(100% - 32px);
       
         height: 2px;
         background-color: rgba(255, 255, 255, 0.2);
         @include for-1024(){
            height: 4px;
            width: calc(100% - 64px);
         }
         @include for-1600(){
            width: calc(100% - 96px);
         }
         &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;

            width: 0;
            height: 100%;
            transition: .8s;
         }
      }

      &--btn {
         width: min-content;
         border: none;
         background: rgba(21, 15, 15, 0.9);
         @include for-600(){
            width: 76px;
         }
         .order-footer__icon{
            height: 24px;
            width: 24px;
            @include for-1366(){
               margin-top: 14px;
            }
            @include for-1600(){
               margin-top: 24px;
            }
         }
         @include for-600(){
            background-color: #50575A;
         }
         .order-footer__item-line{
         
               width: 24px;
               @include for-600(){
                  width: 44px;
               }
               @include for-1024(){
                  width: calc(100% - 64px);
               }
               @include for-1600(){
                  width: calc(100% - 96px);
               }
           
         }
         cursor: pointer;
         .order-footer__name {
            display: none;
         }
         .order-footer__icon {
            margin: 0;
            @include for-1366(){
               margin-top: 14px;
            }
            @include for-1600(){
               margin-top: 24px;
            }
         }
         .order-footer__item-line {
            &::after {
               background-color: #DD2B1C;
            }
         }

         &:active {
            .order-footer__icon {
               opacity: 1;
            }
         }
      }
      &--result {
         background-color: #110101;

      }
      &--link {
         background-color: #DD2B1C;
         width: 100%;
         padding-right: 16px;
         padding-left: 16px;
         justify-content: space-between;
         cursor: pointer;
         .order-footer__item-line {
            &::after {
               background-color: #FFF;
            }
         }

         &:active {
            .order-footer__icon {
               opacity: 1;
            }
         }
      }

      @media screen and (min-width: 1024px) {
         &--btn {
            .order-footer__name {
               display: block;
            }
            .order-footer__icon {
               margin-left: 34px;
            }
            width: min-content;
            &:hover {
               .order-footer__icon {
                  opacity: 1;
                  fill: #DD2B1C;
               }
               .order-footer__item-line {
                  &::after {
                     width: 100%;
                  }
               }
            }
         }

         &--result {
            display: flex;
            gap: 8px;
            font-size: 32px;
            line-height: 32px;
           
            .result-list {
               font-weight: 700;
               font-size: 32px;
               line-height: 32px;
               color: #fff;
               &__name {
                  opacity: 0.4;
                  font-weight: 700;
                  font-size: 32px;
                  line-height: 32px;
                  color: #fff;
               }
               &__count {
                  margin-right: 8px;
                  font-weight: 700;
                  font-size: 32px;
                  line-height: 32px;
                  color: #fff;
               }
            }
         }

         &--link {
            width: min-content;
            padding-left: 32px;
            padding-right: 32px;
            &:hover {
               .order-footer__icon {
                  fill: #FFF;
                  opacity: 1;
               }
               .order-footer__item-line {
                  &::after {
                     width: 100%;
                  }
               }
            }
         }
      }

      @media screen and (min-width: 1340px) {
         &--result {
            align-items: flex-end;
            padding-top: 33px !important;
            font-size: 44px;
            line-height: 44px;
            .result-list {
               &__name {
                  font-size: 44px;
                  line-height: 44px;
                  }
               &__count {
                  font-size: 44px;
                  line-height: 44px;
               }
            }

         }
      }

      @media screen and (min-width: 1600px) {
        
         &--result {
            font-size: 60px;
            line-height: 60px;
            padding-top: 39px !important;
            padding-bottom: 34px !important;
          
            .result-list {
               &__name {
                  font-size: 60px;
                  line-height: 60px;
                  }
               &__count {
                  font-size: 60px;
                  line-height: 60px;
               }
            }

         }
      }
   }

   &__name {
      font-weight: 700;
      font-size: 28px;
      line-height: 1;
     
      
      letter-spacing: 0.05em;
      font-family: $TT;
      @include for-600(){
         font-size: 40px;
      }
      @include for-1024(){
         font-size: 32px;
      }
      @include for-1366(){
         font-size: 44px;
      }
      @include for-1600(){
         font-size: 60px;
         line-height: 60px;
      }
      &--desktop{
         display: none;
         @include for-1024(){
            display: block;
         }
      }
      &--mobile{
         @include for-1024(){
            display: none !important;
         }
      }
      @media screen and (min-width: 1340px) {
         display: block;
         margin-bottom: -8px;
      }
   }

   &__icon {
      height: 16px;
      width: 16px;
      fill: #FFF;
      opacity: .2;
      margin-left: 34px;
      transition: .3s;
      
      @include for-1024(){
         width: 24px;
         height: 24px;
      }
      @include for-1366(){
         margin-top: 12px;
      }
      @include for-1600(){
         margin-top: 24px;
      }
   }
   @media screen and (min-width: 1340px) {
      min-height: 104px;

      &__item {
         font-size: 44px;
         line-height: 44px;
         letter-spacing: .05em;
         padding: 30px 32px;
      }
   }
   @media screen and (min-width: 1600px) {
      min-height: 128px;

      &__item {
         font-size: 60px;
         line-height: 60px;
         padding: 36px 48px;
      }
   }
}

.order-card {
   display: flex;
   flex-direction: column;
   background-color: #FFF;
   font-family: $DM;
   transition: .3s;
   border-bottom: 1px solid #e5e5e5;
   @include for-1024(){
      padding-right: 50px;
   }
   & + &{
      margin-top: 16px;
      @include for-1024(){
         margin-top: 0;
      }
   }
   &__preview {
      display: none;
   }

   &__body {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
   }

   &__header {
      display: flex;
      flex-direction: column;
      color: #150F0F;
      font-size: 14px;
      line-height: 1;
      padding: 15px;
      transition: .3s;
   }
   &__title {
      font-weight: 300;
      margin-bottom: 8px;
      transition: .3s;
      letter-spacing: .05em;
      @include for-1366(){
         font-size: 20px;
         line-height: 24px;
         letter-spacing: .03em;
      }
      @include for-1600(){
         font-size: 24px;
         line-height: 28px;
         margin-right: 8px;
      }
   }
   &__desc {
      font-weight: 500;
      transition: .3s;
      white-space: nowrap;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.03em;
      @include for-1366(){
         font-size: 20px;
         line-height: 24px;
      }
      @include for-1600(){
         font-size: 24px;
         line-height: 28px;
         
      }
   }
   &__pagination {
      display: flex;
      align-items: center;
      height: 44px;
      @media screen and (min-width: 1024px) {
         max-width: 340px;
         height: 50px;
         flex-shrink: 0;
      }
    @include for-1024(){
      .counter input[type=text].counter__input{
         padding-left: 5px;
         padding-right: 5px;
      }
      .order-card__details .order-card__label{
         justify-content: center;
         margin-right: 0;
      }
    }
   }
   &__details {
      display: flex;
      align-items: center;
      height: 100%;
   }

   &__clear {
      background-color: none;
      border: none;
      cursor: pointer;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $transition;
      flex-shrink: 0;
      @include for-600(){
         padding: 0 16px;
      }

      .icon {
         width: 24px;
         height: 24px;
         fill: #150F0F;
         transition: $transition;
      }

      @media screen and (min-width: 1024px) {
         opacity: 0;
         &:hover {
            .icon {
               fill: #DD2B1C;
            }
         }
      }
   }

   &__label {
      height: 100%;
      margin-right: 16px;
   }

   &__counter {
      width: 50%;
      flex: 0 0 auto;
      background-color: #c7c7c7;
      @include for-600(){
         width: 44%;
      }
      @include for-1024(){
         width: 50%;
      }
   }

   &__details {
      width: 50%;
      flex: 0 0 auto;
      background-color: #F5F5F5;
      justify-content: center;
      @include for-600(){
         width: 56%;
         padding-left: 16px;
         box-sizing: border-box;
         .order-card__label{
            width: 100%;
         }
      }
      @media screen and (min-width: 1024px) {
         background-color: transparent;
      }
   }

   @media screen and (min-width: 600px) {
      &__header {
         font-size: 16px;
         line-height: 20px;
      }
   }

   @media screen and (min-width: 1024px) {
      flex-direction: row;
      padding: 24px 32px;
      align-items: center;
      &:hover {
         background-color: #F5F5F5;
      }
      &__preview {
         display: block;
         width: 56px;
         height: 56px;
         flex: 0 0 56px;
         display: flex;
         align-items: center;
         justify-content: center;
         margin-right: 24px;
         img {
            width: 100%;
            height: 100%;
            object-fit: contain;
         }
      }

      &__header {
         padding: 0;
         // flex-direction: row;
         // align-items: flex-end;
         display: block;
         margin-bottom: 4px;

         font-size: 20px;
         line-height: 24px;
         transition: .3s;
         &:hover {
            color: #DD2B1C;
         }
      }
      &__desc{
         display: inline;
      }
      &__title {
         margin-bottom: 0;
         margin-right: 4px;
         display: inline;
      }

      &__counter {
         margin-right: 16px;
      }

      &__pagination {
         height: 72px;
         margin-left: 20px;
      }
   }
   @media screen and (min-width: 1600px) {
      &__header {
         flex-direction: row;
         align-items: center;

         font-size: 24px;
         line-height: 28px;
      }

      &__title {
         margin-right: 8px;
      }
   }
}

.unit-choice {
   display: flex;
   align-items: center;
   width: 64px;
   &__label {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 50%;
      height: 100%;
   }

   &__input {
      width: 0;
      height: 0;
      opacity: 0;
   }

   &__custom {
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #150F0F;
      text-transform: uppercase;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
         content: '';
         width: 0;
         height: 4px;
         background-color: #DD2B1C;

         position: absolute;
         left: 0;
         bottom: 0;
         transition: .3s;
      }

      @media screen and (min-width: 1024px) {
         font-size: 20px;
         line-height: 24px;
         opacity: 0.2;
      }
   }

   .unit-choice__input:checked ~ .unit-choice__custom {
      opacity: 1;
   }

   .unit-choice__input:checked ~ .unit-choice__custom::after {
      width: 100%;
   }
}

.card-filter {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   @include for-1024(){
      gap: 12px 24px;
      padding-top: 10px;
   }
   &__item {
      display: flex;
      width: 100%;
      border-top: 1px solid #c5c5c5;
      align-items: center;
      @media screen and (min-width: 1024px) {
         // margin-right: 24px;
         
         border: none;
         width: min-content;
      }
   }
   @media (max-width:599px){
      .choice-box__btn .icon{
         height: 16px;
         width: 16px;
      }
      .choice-box__title{
         padding: 10px 0;
      }
   }
   @include for-1024(){
      .choice-box__title{
         padding: 0;
         margin-right: 8px;
      }
   }
   @include for-600(){
      .choice-box__title{
         padding: 12px 0;
      }
      .choice-box__btn .icon{
         height: 16px;
         width: 16px;
      }
   }
   @include for-1600(){
      .choice-box__title{
         font-size: 20px;
         line-height: 24px;
      }
   }
   @media (max-width:1023px) and (min-width:600px){
      .unit-choice__custom{
         font-size: 18px;
      }
   }
   
  
   &__name {
      font-weight: 300;
      font-size: 16px;
      line-height: 20px;
      color: #50575A;
      white-space: nowrap;
      padding:10px 0 10px 16px;
      @include for-600(){
         padding: 12px 4px 12px 16px;
      }
      @media screen and (min-width: 1024px) {
         padding: 0 8px 0 0;
         letter-spacing: .05em;
      }
      @include for-1600(){
         font-size: 20px;
         line-height: 24px;
      }
   }

   &__choice {
      width: 100%;
      @include for-1024(){
         letter-spacing: .05em;
      }
   }
}

.choice-box {
   &__header {
      display: flex;
      align-items: center;
      white-space: nowrap;
   }

   &__title {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #150F0F;
      padding: 8px;
      white-space: nowrap;
      position: relative;
      overflow: hidden;
      text-overflow: ellipsis;
      letter-spacing: .03em;
   }

   &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      cursor: pointer;
      background: none;
      padding: 0;
      margin-left: auto;
      margin-right: 0;
      flex-shrink: 0;
      .icon {
        width: 16px;
        height: 16px;
         fill: rgba(79, 86, 89, 0.4);
         transform: rotate(-90deg);
         @include for-1024(){
            width: 24px;
            height: 24px;
         }
         @include for-1600(){
            height: 28px;
            width: 28px;
         }
      }
      // @media screen and (min-width: 1024px) {
      //    margin-right: 0;
      // }
   }

   &__wrapper {
      display: none;
      overflow: hidden;
      transition: .3s;
      background-color: rgba(0, 0, 0, 0.5);
      position: fixed;
      right: 0;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 1000;
      width: 100%;
      height: 100%;
      @media screen and (min-width: 1024px) {
         position: absolute;
         top: 100%;  
         bottom: auto;
         z-index: 10;
         height: auto;
      }

      &--active {
         display: flex;
         flex-direction: column;
      }
   }

   &__list {
      margin-top: auto;
      overflow: hidden;
      max-height: 0;
      transition: .3s;
      background-color: #FFF;
      z-index: 10;
      @media screen and (min-width: 1024px) {
         margin-top: 0;
      }
   }

   &__item-title {
      @media screen and (min-width: 1024px) {
         display: none;
      }
   }

   &__item {
      padding: 8px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #150F0F;
      transition: .3s;
      border-bottom: 2px solid rgba(79, 86, 89, 0.1);
      cursor: pointer;
      &:first-child {
         border: none;
      }
      &:active {
         color: #DD2B1C;
      }
      @media screen and (min-width: 1024px) {
         border: 2px solid rgba(79, 86, 89, 0.1);
         border-bottom: none;
         &:last-child {
            border-bottom: 2px solid rgba(79, 86, 89, 0.1);
         }
         &:hover {
            color: #DD2B1C;
         }
      }
   }

   &__label {
      cursor: pointer;
      position: relative;
   }

   &__input {
      width: 0;
      height: 0;
      opacity: 0;
      position: absolute;
   }

   &--active {
      .choice-box__btn {
         .icon {
            transition: .3s;
            transform: rotate(90deg);
         }
      }
   }

   @media screen and (min-width: 1024px) {
      position: relative;
   }
}

.counter {
   display: flex;
   align-items: center;
   height: 100%;
   transition: .3s;
   input[type="text"].counter__input {
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 16px;
      line-height: 20px;
      font-weight: 500;
      letter-spacing: .03em;
      color: #150F0F;
      border: none;
      border-radius: 0;
      border-top: 5px solid #c7c7c7;
      border-bottom: 5px solid #c7c7c7;
      @include for-600(){
         font-size: 18px;
         line-height: 22px;
      }
      @media screen and (min-width: 1024px) {
         padding: 20px 16px;
         border-top: 5px solid transparent;
         border-bottom: 5px solid transparent;
         transition: .3s;
         font-size: 20px;
         line-height: 24px;
         margin: 0;
      }
      @include for-1366(){
         font-size: 28px;
         line-height: 32px;
      }
   }
   &__btn {
      height: 100%;
      padding: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #c7c7c7;
      border: none;
      cursor: pointer;
      span {
         display: block;
         width: 16px;
         height: 2px;
         background-color: #150F0F;
      }

      &--up {
         span {
            position: relative;
            background-color: #DD2B1C;
            &::after {
               content: '';
               display: block;
               height: 16px;
               width: 2px;
               background-color: #DD2B1C;

               position: absolute;
               left: 50%;
               top: 50%;
               transform: translate(-50%, -50%);
            }
         }
      }
      @media screen and (min-width: 1024px) {
         opacity: 0;
         padding: 28px 12px;
         background-color: transparent;
      }
   }

   @media screen and (min-width: 1024px) {
      background-color: transparent;
   }
}

.order-card.active {
   @media screen and (min-width: 1024px) {
      .counter {
         background-color: #e5e5e5;
         input[type="text"].counter__input {
            border-top: 5px solid #e5e5e5;
            border-bottom: 5px solid #e5e5e5;
         }

         &__btn {
            opacity: 1; 
         }
      }

      .order-card__clear {
         opacity: 1;
      }
   }
}

.form-order-header {
   display: flex;
   flex-direction: column;
   font-family: $TT;
   &__title {
      font-weight: 700;
      font-size: 44px;
      text-transform: uppercase;
      line-height: 44px;
      color: #150F0F;
      margin-bottom: 8px;
      @media screen and (min-width: 1340px) {
         font-size: 120px;
         line-height: 120px;
         margin-bottom: 0;
      }

      @media screen and (min-width: 1600px) {
         font-size: 144px;
         line-height: 144px;
      }
   }

   @media screen and (min-width: 1340px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
   }
}

.order-card.active{
   .choice-box__title--input{

      background-color: #fff;

      border-color:  #EDEDED;
   }
}

.card-filter__name{
   @media (min-width:320px) and (max-width:1023px){
   
         margin-right: 4px;
         color: rgba(79, 86, 89, 0.7);
   }
}
.card-filter .choice-box__title{
   @media (min-width:320px) and (max-width:1023px){
      font-weight: 300;
   }
}