.hero{
    position: relative;
    // overflow-x: hidden;
    background-color: #110101;
    // height: calc(100vh - 84px);
   
    left: 0;
    top: 0;
    width: 100%;
    z-index: 800;
    &.end{
        z-index: 200;

    }

    @include for-1024(){
        // height: 150vh;
    }
    &__bg{
        @include for-1024(){
         
            // will-change: transform;
            left: 50%;
            width: 0;
            height: 100vh;
            background-color: #110101;
            // transition: .3s;
            position: fixed;
            opacity: 1;
            z-index: 720;
            &.end{
                width: 100% !important; 
            }
        }
    }
    &__main{
       
        height: calc(var(--vh, 1vh) * 100);
        @include for-1024(){
            height: 100vh;
            // position: sticky;
            // overflow: hidden;
            // top: 0;
            // left: 0;
            // overflow-x: hidden;
           
        }
    
      
    }
    // &.js-active{
    //     position: relative;
    // }
    // &__fp-widnow{
    //     height: 100vh;
    // }
    &.animationEnd{
        position: relative;
        // margin-top: 414px;
    }
    // @include for-1024(){
    //     height: calc(100vh - 140px);
    // }
    .container{
        height: 100%;
    }
   
    &__title{
        position: relative;
        z-index: 10;
        letter-spacing: 1.5px;
        @media (max-width:1023px){
            color: #fff;
        }
        @media (max-width:339px){
            font-size: 44px;
            line-height: 44px;
        }
        span{
            position: relative;
            // &::after{
            //     display: block;
            //     content: '';
            //     position: absolute;
            //     left: 0;
            //     width: 0;
            //     bottom: 20px;
            //     height: 4px;
            //     background: #DD2B1C;
            //     transition: $transition;
            // }
        }
       
        @include for-600(){
            letter-spacing: 2.6px;
        }
        @include for-1024(){
            color: #fff;
        }
        @include for-1366(){
            letter-spacing: 3.7px;
            padding-bottom: 40px;
        }
        @include for-1600(){
            padding-bottom: 50px;
        }
        @include for-retina(){
            position: relative;
            z-index: 10;
        }
    }
   
    &__content{
        position: relative;
        z-index: 10;
        height: 100%;
        padding:100px 15px 15px;
        margin: 0 -15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include for-1024(){
            margin: 0 -32px;
            align-items: center;
            flex-direction: row;
            box-sizing: border-box;
            padding: 0;
        }
        @include for-1600(){
            margin: 0 -48px;
        }
        @include for-retina(){
            position: static;
        }
        // @include for-1366(){
        //     min-height: 644px;
        // }
        // @include for-1600(){
        //     min-height: 760px;
        // }
        // @include for-1920(){
        //     min-height: 940px;
        // }
        // @include for-retina(){
        //     min-height: 1300px;
        // }
    }
    &__mobile-anch{
        position: absolute;
        top: 0;
        right: 0;
        img{
            
            // height: 190vh;
        }
        @include for-1024(){
            display: none;
        }
    }
    &__picture-big{
        display: none;
       
        // &:hover{
        //     
        // }
        @include for-1024(){
     
            display: block;
            position: fixed;
            left: 0;
            top: 0;
            width: 50%;
            z-index: -1;
            height: 100%;
            pointer-events: none;

            &::after{
                content: '';
                position: absolute;
                right: 0;
                width: 200px;
                height: 100%;
                top: 0;
                background: rgb(255,255,255);
                background: linear-gradient(90deg, rgba(17,1,1,0) 0%, rgba(17,1,1,1) 100%);
            }
           
            img{
                transition: $transition;
                width: 100%;
                object-fit: cover;
                display: block;
                height: 100%;
                object-position: bottom;
                transform: scale(1.1);
            }
        }
        @include for-retina(){
            width: 50%;
        }
    }
    &__picture{
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        overflow: hidden;
        &:after{
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 114px;
            background: linear-gradient(180deg, rgba(25, 74, 103, 0) 0%, #194A67 100%);
            z-index: 50;
            @include for-1024(){
                display: none;
            }
        }
        @include for-1024(){
            position: fixed;
            width: 50%;
            height: 100%;
            left: auto;
            right: 0;
            transition: $transition;
        }
        @include for-retina(){
            width: 50%;
        }
        img{
            transition: $transition;
            width: 100%;
            object-fit: cover;
            display: block;
            height: 100%;
            object-position: bottom;
            transform: scale(1.1);
        
        }
    }
    &__desc{
        font-size: 14px;
        line-height: 15px;
        color: #fff;
        font-weight: 500;
        letter-spacing: 0.05em;
        font-family: $DM;
        margin-top: 44px;
        @include for-600(){
            margin-top: 82px;
            font-size: 32px;
            line-height: 36px;
            max-width: 400px
        }
        @include for-1024(){
            margin-top: 0;
            color: #fff;
            font-size: 16px;
            line-height: 20px;
            text-align: right;
            max-width: 278px;
            min-height: 350px;
        }
        @include for-1366(){
            font-size: 20px;
            line-height: 24px;
            max-width: 364px;
            min-height: 500px;

        }
        @include for-1600(){
            font-size: 24px;
            line-height: 28px;
            letter-spacing: .6px;
            max-width: 416px;
            min-height: 605px;
        }
    }
    &__right{
        position: relative;
        z-index: 300;
        align-self: flex-start;
        @include for-1024(){
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            padding-top: 110px;
            height: 100%;
            padding-right: 32px;
            box-sizing: border-box;
            z-index: 700;
            &:hover{
                & + picture img{
                    // will-change: filter;
                  
                }
            }
            &:hover{
                // .linkLabel__box{
                //     &:after{
                //         width: 100%;
                //     }
                // }
            }
        }
        @include for-1366(){
            padding-top: 130px;
        }
        @include for-1600(){
            padding-top: 150px;
            padding-right: 48px;
        }
        @include for-retina(){
            position: static;
        }
        .linkLabel{
            margin-top: 8px;
            @include for-600(){
                margin-top: 2px;
            }
            @include for-1366(){
                margin-top: 15px;
            }
        }
        .linkLabel__box{
            @include for-1024-only(){
                color: #fff;
                font-size: 36px;
                line-height: 36px;
                /* identical to box height, or 100% */

                letter-spacing: 0.05em;
                text-transform: uppercase;

                /* txt/black */

                color: #150F0F;
                &:before{
                    background-color:  rgba(#4F565933, .2);
                }

                svg{
                    fill:  rgba(#4F565933, .2);
                }
            }
            @include for-1366(){
                color: #150F0F;
                &:before{
                    
                        background-color:  rgba(#4F565933, .2);
                   
                }
                svg{
                    margin-left: 16px;
                    fill:  rgba(#4F565933, .2);
                }
            }
        }
    }
    &__shadow{

        display: none;
      @include for-1024(){
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        background-color: #110101;
        z-index: 800;
        pointer-events: none;
        opacity: 0;
      }
    }
    &__left{
        @include for-1024(){
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            padding-left: 32px;
            box-sizing: border-box;
            padding-bottom: 16px;
            z-index: 750;
            padding-top: 110px;
          
            &:hover{
                .hero__title span:after{
                    width: 100%;
                }
            }
            
            &:after{
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 50%;
                z-index: 4000;
                // background-color: red;
                // &:hover{
                   
                // }
            }
        }
        @include for-1366(){
            padding-top: 130px;
        }
        @include for-1600(){
            padding-left: 48px;
            padding-top: 150px;
        }
        @include for-retina(){
            position: static;
           
        }
    }
    &__about{
        display: none;
        @include for-1024(){
            position: absolute;
            left: 32px;
            bottom: 16px;
            display: flex;
            align-items: center;
            font-weight: 700;
            font-size: 24px;
            line-height: 24px;
            /* identical to box height, or 100% */
            
            letter-spacing: 0.06em;
            text-transform: uppercase;
            
            /* txt/white */
            
            color: #FFFFFF;
            font-family: $TT;
            z-index: 10;
            &-icon{
                height: 24px;
                width: 24px;
                margin-right: 4px;
            }
            
        }
        @include for-1366(){
            font-size: 28px;
            line-height: 28px;
        }
        @include for-1600(){
            font-size: 36px;
            line-height: 36px;
            left: 48px;
        }
        @include for-retina(){
            left: 50%;
            margin-left: -910px;
        }
    }
}


.hero__bg.end + .hero__right + .hero__picture img{
    filter: none;
}


.site-navigation__list:not(:first-child){

    &:before{
        content: '';
        position: absolute; 

        
    }
}

@media (min-width:1300px) and (max-height:560px){
    .hero__title{
        padding-top: 50px !important;
        padding-bottom: 0 !important;
        font-size: 70px !important;
    }
}

.page__index{
    overflow: hidden;
}

.hero__content{
    &.isHoverRight{
        .hero__picture-big{
            img{
                filter: blur(20px);
            }
        }
    }
    &.isHoverLeft{
        .hero__picture{
            img{
                filter: blur(20px);
            }
        }
        .linkLabel__box{
            &:after{
                width: 100%;
            }
        }
    }
}

.hero.end{
    .hero__bg{
        width: 100% !important;
    }
    .hero__picture-big{
        display: none;
    }
    .hero__shadow{
        display: none;
    }
}
.hero__mobile-anch img{
    will-change: transform;
}