/* global */
.g-hidden {
  display: none;
}
.g-line {
  zoom: 1;
}
.g-line:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* modal */
.b-modal {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  @media screen and (min-width: 600px) {
    height: auto;
  }
  &--big{
    .modal-content{
      background: #f5f5f5;
      padding-bottom: 184px;
      @include for-1600(){
        padding-bottom: 200px;
      }
    }
    max-width: 100%;
  }
}

/* modal */
.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11000;

  table{
    border-spacing: 0px;
  }
}
.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}
*:first-child + html .arcticmodal-container {
  height: 100%;
}
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}


//! b-modal
.b-modal {

  background-color: #fff;
  transform: translateY(150%);
  opacity: 0;
  transition: $transition;
  &.is-active {
    opacity: 1;
    transform: none;
    background: #EDEDED;

    @media screen and (min-width: 600px) {
      background: transparent;
    }

    &.b-modal--1366{
      @media screen and (min-width: 600px) {
        background: #EDEDED;
      }
    }
  }
  &--lit {
    max-width: 856px;
    width: 96%;
    @include for-1024(){
      width: 100%;
    }
    @include for-1366(){
      max-width: 1000px;
    }
  }

  &--1366{
    max-width: 1340px;
    width: 100%;
  }
}

.policy-wrap{
  background: #F5F5F5;
  border-bottom: none;
  @media screen and (min-width: 1340px) {

    .policy-checkbox__text{
      max-width: 400px;
    }
  }
}

//! defaultModal

.defaultModal {
  
  &__input-placeholder{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;

    @media screen and (min-width: 600px) {
      font-size: 20px;
      line-height: 24px;
    }
    @include for-1024(){
      font-size: 24px;
      line-height: 28px;
    }
    @media screen and (min-width: 1340px) {
      font-size: 28px;
      line-height: 32px;
    }
    @media screen and (min-width: 1600px) {
      font-size: 36px;
      line-height: 40px;
    }
   
  }
  &__linkLabel {
    height: 100%;
    width: 100%;
  }
  &__box{
    max-width: 1080px;
    margin: 0 auto;

   
  }
  &__container--psr {
   position: relative !important;
   height: auto !important;
  }
  &__container{
    &.isBigZindex{
      position: relative;
      z-index: 6000;
    }
    &--w100{
      width: 100%;
    }
    &--order{
     @media (max-width:1023px) {
      order: 1;
     }
    }
  }
  &__icon {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 16px;

   width: 24px;
   height: 24px;
   fill: rgba(79, 86, 89, 0.4);;
   @media screen and (min-width: 1340px) {
      right: 32px;
      width: 32px;
      height: 32px;
   }
  }

  &__wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 4px;

   @media screen and (min-width: 1024px) {
      flex-direction: row;
      gap: 8px;
      margin-bottom: 8px;
      .defaultModal__container {
         width: 50%;
         &:first-child {
            max-width: 30%;
         }
         &:last-child {
            max-width: 70%;
         }
      }
   }
  }
  &__head {
    position: relative;
    box-sizing: border-box;
    padding: 16px 16px 25px;
    background: #ededed;
    max-width: 1920px;
    &--flex{
      @include for-1024(){
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 140px;
        box-sizing: border-box;
        .defaultModal__head-title{
          margin-bottom: 0;
        }
      }
    }
    @media screen and (min-width: 1024px) {
      padding: 32px 32px 16px;
      background: #f5f5f5;
    }

    &-1366{
      @media screen and (min-width: 1024px) {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 100px 56px 32px;
      }
    }

    &-title {
      font-family: $TT;
      font-size: 44px;
      line-height: 44px;
      font-weight: 700;
      /* identical to box height, or 100% */

      letter-spacing: 0.04em;
      text-transform: uppercase;

      /* txt/black */

      color: #150f0f;
      margin-bottom: 8px;
      @include for-600(){
        font-size: 60px;
        line-height: 60px;
      }
      @include for-1024(){
        font-size: 80px;
        line-height: 80px;
      }
      &--big{
        @include for-1024(){
          font-size: 80px;
          line-height: 80px;
          letter-spacing: .04em;
          font-weight: 700;
        }
        @include for-1600(){
          font-size: 104px;
          line-height: 104px;
        }
      }
      &--1366{
        span{
          display: block;
          @media screen and (min-width: 600px) {
            display: inline;
          }
        }
        @media screen and (min-width: 1340px) {
          font-size: 80px;
          line-height: 80px;
        }
      }
    }
    &-desc {
      font-family: $DM;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */

      letter-spacing: 0.03em;

      /* txt/black */

      color: #150f0f;

      &--1366{
        font-size: 16px;
        line-height: 20px;

        @media screen and (min-width: 600px) {
          font-size: 20px;
          line-height: 24px;
        }
        @media screen and (min-width: 1340px) {
          max-width: 270px;
         
        }
      }
    }
    &-close {
      position: absolute;
      right: 19px;
      top: 29px;
      z-index: 599;
      cursor: pointer;
      svg{
        height: 16px;
        width: 16px;
        @include for-1366(){
          height: 24px;
          width: 24px;
        }
      }
      @media screen and (min-width: 600px) {
        top: 32px;
        right: 32px;
      }
      @include for-1024(){
        top: 62px;
      }
      @include for-1366(){
        top: 58px;
      }
      @include for-1600(){
        top: 68px;
      }
      &--1366{
        @media screen and (min-width: 1340px) {
          top: 69px;
        }
      }
    }
  }

  .textarea{
    width: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 32px 16px;
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    font-family: 'PF Din Text Cond Pro';
    font-style: normal;
    font-weight: 300;
    font-weight: 300;
    color: #150F0F;
    //min-height: 100px;
    @include for-1024(){
      padding: 32px;
    }


  }

  &__textarea{

    @media screen and (min-width: 600px) {
      font-size: 28px;
      line-height: 32px;
    }
  
    letter-spacing: 0.03em;
    padding: 20px 32px;
    color: rgba(79, 86, 89, 0.7);
  }

  .textarea-big{
    min-height: 180px;
  

    &.defaultModal__container {

      position: relative;

      // .defaultModal__input:focus~.defaultModal__input-placeholder, .defaultModal__input:not(:placeholder-shown)~.defaultModal__input-placeholder {
      //   transform: translateY(-80%);
      // }
    }



    @media screen and (min-width: 1340px) {
      min-height: 200px;
    }
  }
  &__grid{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    > div{
      border-bottom: 0;
    }
  }
  &__row {
    display: flex;
    padding: 0 16px;
    flex-wrap: wrap;
    
    @media screen and (min-width: 600px) {
      padding: 0;

    }

    &--1366{
      padding: 0 16px 64px 16px;

      @media screen and (min-width: 600px) {
        gap: 8px;
      }

      @media screen and (min-width: 1024px) {
        padding: 0 143px 104px;
        gap: 8px;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 50;


    @media screen and (min-width: 600px) {
      border: none;
    }    


    &:last-child{
      // border-bottom: none;
      // height: 64px;
      // position: fixed;
      // bottom: 0;
      // left: 0;
      // right: 0;
      @media screen and (min-width: 600px) {
        height: auto;
        position: static;
      }

      &.btn-fixed{
        margin-bottom: 0;
        @media screen and (min-width: 600px) {
          height: 96px;
        }

        @media screen and (min-width: 1340px) {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
    &--w70I{
      width: 100%;
      @include for-1024(){
        width: 100% !important;
        max-width: calc(70% - 8px)!important;
      }
      @include for-1600(){
        max-width: calc(70% - 8px)!important;
      }
    }
    &--w30I{
      width: 100% !important;
      @include for-1024(){
        
        max-width: calc(30%)!important;
      }
      @include for-1600(){
        max-width: calc(30%)!important;
      }
    }
    &--w50 {
      width: 100%;
      // background-color: #fff;

      @media screen and (min-width: 600px) {
        &:nth-child(2n) {
          border-left: 4px solid #f5f5f5;
          box-sizing: border-box;
        }
        &:nth-child(3),
        &:nth-child(4) {
          border-top: 4px solid #f5f5f5;
          box-sizing: border-box;
        }
        width: 50%;
      }
    }

  }
  &__input {
    font-family: $DM;
    appearance: none;
    height: 62px;
    font-size: 18px;
    line-height: 22px;
    border: none;
    outline: none;
    position: relative;
    z-index: 30;
    padding: 11px 0px 0px 16px;
    box-sizing: border-box;
    width: 100%;
    font-weight: 300;
    
    /* identical to box height, or 114% */

    letter-spacing: 0.03em;
    z-index: 80;
    /* txt/black */
    background-color: transparent;
    color: #150f0f;
    @include for-600(){
      font-size: 20px;
      line-height: 24px;
    }
    @media screen and (min-width: 1024px) {
      padding: 0 32px;
      height: 88px;
      font-size: 24px;
      line-height: 28px;
      padding: 16px 0 0 32px;


    }
    @include for-1366(){
      height: 96px;
      padding-top: 3px;
    }
    @media screen and (min-width: 1600px) {
      font-size: 36px;
      line-height: 40px;
      height: 112px;
      padding-top: 14px;
    }
    &-placeholder {
      font-family: $DM;
      font-weight: 300;
      
      /* identical to box height, or 114% */

      // @media screen and (min-width: 600px) {
      //   font-size: 28px;
      //   line-height: 32px;
      // }

      letter-spacing: 0.03em;

      /* txt/gray 1 70% */
      background-color: transparent;
      color: rgba(79, 86, 89, 0.7);

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      transition: .4s ease-in-out;
      @include for-1024(){
        left: 32px;
      }
    }
    &-req {
      color: rgba(79, 86, 89, 0.7);
      position: absolute;
      left: 5px;
      top: 57%;
      transform: translateY(-50%);
      font-size: 16px;
      line-height: 16px;

      /* identical to box height, or 93% */

      font-family: $DM;
      letter-spacing: 0.03em;
      font-weight: 300;
      @include for-1024(){
        font-size: 30px;
        line-height: 28px;
        left: 10px;
      }
      @include for-1600(){
        // top: 60%;
      }
    }
    &:hover ~ .defaultModal__input-placeholder{
      color: #150F0F;
    }
    &:not(textarea):focus ~ .defaultModal__input-placeholder,
    &:not(textarea):not(:placeholder-shown) ~ .defaultModal__input-placeholder {
      font-size: 14px;
      line-height: 16px;
      // transform: translateY(-125%);
      @media (max-width:1023px){
        top: 18px;
      }
      @media screen and (min-width: 600px) {
        // transform: translateY(-100%);
        font-size: 16px;
        line-height: 20px;
      }
      @include for-1024(){
        // top: auto;
        font-size: 14px;
        line-height: 20px;
        transform: translateY(-120%);
      }
      @include for-1366(){
        transform: translateY(-170%);
      }
      @include for-1600(){
        font-size: 20px;
        line-height: 24px;
        transform: translateY(-150%);
      }
    
    }

    
  }

  textarea.defaultModal__input{
    &:focus ~ .defaultModal__input-placeholder,
    &:not(:placeholder-shown) ~ .defaultModal__input-placeholder {
      font-size: 14px;
      line-height: 16px;
      // transform: translateY(-110%);
      top: 18px;
      @media screen and (min-width: 600px) {
      
        font-size: 16px;
        line-height: 20px;
      }
      @include for-1600(){
        top: 18px;
          // transform: translateY(-100%);
        font-size: 20px;
        line-height: 24px;
      }
    
    }
  }
  .defaultModal__row--1366{
    .container--w100{
      margin-bottom: 0 !important;
    }
  }
  .container--w100{
    width: 100%;
    &:not(:last-child){
      margin-bottom: 4px;
      @include for-1024(){
        margin-bottom: 8px;
      }
    }
    @media screen and (min-width: 1340px) {
      width: 100%;
      margin-bottom: 8px;
    }
  }
  
  .container--w30{
    width: 100%;

    @media screen and (min-width: 1024px) {
      width: 30%;
    }
  }

  .container--w70{
    width: 100%;

    @media screen and (min-width: 1024px) {
      width: 65%;
      flex-grow: 10;
      background: #fff;
    }
  }

  .container--w50{
    width: 100%;

    @media screen and (min-width: 1024px) {
      width: 50%;
    }
  }

}
// .defaultModal__input:focus ~ .defaultModal__input-placeholder,
// .defaultModal__input:not(:placeholder-shown) ~ .defaultModal__input-placeholder {
//   font-size: 14px;
//   line-height: 16px;
//   transform: translateY(-110%);

//   @media screen and (min-width: 600px) {
//     transform: translateY(-150%);
//     font-size: 16px;
//     line-height: 20px;
//   }
//   z-index: 70;
//   @include for-1600(){
//     transform: translateY(-140%);
//     font-size: 20px;
//     line-height: 24px;
//   }
// }

.policy-checkbox {
  input {
    display: none;
    &:checked + .policy-checkbox__container {
      .policy-checkbox__button svg {
        opacity: 1;
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height:58px;
    margin-right: 8px;
    flex-shrink: 0;
    background-color: #fff;

    @media screen and (min-width: 600px) {
      margin-right: 16px;
      height: 104px;
      width: 104px;
    }
    svg {
      transition: $transition;
      opacity: 0;
    }
  }
  &__text {
    font-family: $DM;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;

    /* or 125% */

    letter-spacing: 0.05em;

    /* txt/black */

    color: #150f0f;
    a {
      color: #dd2b1c;
    }
    // background-color: #F5F5F5;

    @media screen and (min-width: 600px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.modal-button {
  top: 150px;

  .main-btn {
    background: #504747;
    padding: 20px;
    margin: 10px 20px;
    width: 280px;
    display: flex;
    border: none;
    color: #fff;

    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}

// .modal-content {
//    background-color: #fff;
// }

.mini-modal {
  max-width: 310px;
  height: auto;

  @media screen and (min-width: 600px) {
    max-width: 510px;
  }
  .defaultModal__head {
    background: #ededed;
    padding: 16px;

    b {
      display: block;
      @media screen and (min-width: 600px) {
        display: inline;
      }
    }
    span {
      color: #dd2b1c;
    }

    &-title {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 16px;

    }

    &-desc {
      font-size: 16px;
      line-height: 20px;
    }

    @media screen and (min-width: 600px) {
      padding: 32px;

      &-title {
        font-size: 44px;
        line-height: 44px;
      }

      &-desc {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .defaultModal__head-close {
    right: 19px;
    top: 20px;

    @media screen and (min-width: 600px) {
      right: 32px;
      top: 41px;

    }
  }
}



//! modal-form

.modal-form{
  .defaultModal{
    background: #EDEDED;
  }

  &__row{
    margin-top: 8px;
    display: flex;
    position: relative;
    gap: 8px;

    &.row-wrap{
      flex-direction: column;
    }


    @media screen and (min-width: 600px) {
      padding-bottom: 104px;

      &.f-wrap{
        flex-wrap: wrap;
      }
    }
  }

  &__body{
    &.flex-3{
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      @media screen and (min-width: 800px) {
        flex-wrap: nowrap;
      }
    }
    &.flex-2{
      gap: 8px;
      display: flex;

      &-wrap{
        gap: 8px;
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: 800px) {
          flex-wrap: nowrap;
        }
      }
    }
  }

  &__col{
    height: 60px;

    &.w33{
      width: 100%;
      height: 100%;
      @media screen and (min-width: 800px) {
        width: 30%;
        flex-grow: 10;
        
      }
    }

    &.w50{
      width: 100%;
      gap:8px;

      @media screen and (min-width: 800px) {
        width: 50%;
        
      }
    }

    &.w100{
      width: 100%;
    }

    &.col-first{
      width: 90%;

      @media screen and (min-width: 600px) {
        width: 50%;
      }
    }
    @media screen and (min-width: 600px) {
      height: 96px;
    }
    width: 50%;
    &-contain{
      display: flex;
      align-items: center;
      height: 100%;
      background: #F5F5F5;
    }
  }

  &__name{
    display: none;
    @media screen and (min-width: 1024px) {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'PF Din Text Cond Pro';
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0.03em;
      color: rgba(79, 86, 89, 0.7);
      font-size: 22px;
      line-height: 32px;
    }
    @include for-1366(){
      font-size: 28px;
      line-height: 32px;
    }
    @include for-1600(){
      font-size: 36px;
      line-height: 40px;
    }

    @media screen and (min-width: 700px) {
      font-size: 28px;
    }
  }

  &__button{
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;

    .linkLabel__box--form{
      font-family: 'TT Bluescreens';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      @include for-1366(){
        font-size: 44px;
        line-height: 44px;
      }
    }

    @media screen and (min-width: 600px) {
      position: absolute;
    }

  }

  &__head{
    &.defaultModal__head {
      background: #EDEDED;

      b{
        display: block;
        @media screen and (min-width: 600px) {
          display: inline;
        }
      }
    }

  }

  &__head-desc{
    p{
      font-family: 'PF Din Text Cond Pro';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;

      @media screen and (min-width: 600px) {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 32px;

      }
      @include for-1600(){
        font-size: 24px;
        line-height: 28px;
      }
      &:last-child{
        display: none;
        margin-bottom: 0;

        @media screen and (min-width: 600px) {
          display: block;
        }
      }

      span{
        display: block;
        margin-top: 4px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #150F0F;
        @media screen and (min-width: 600px) {
          display: inline;
          margin-top: 0;
        }
      }
    }
  }

  .counter {
    width: 100%;
    &__btn{
      background: rgba(79, 86, 89, 0.1);
    }
    @media screen and (min-width: 600px) {
      background: #FFFFFF;
      width: 50%;
      margin-right: 0;
      input{
        border: none !important;
      }
      &__btn{
        background: #FFFFFF;
        opacity: 1;
        padding: 0 10px;
        span{
          background: rgba(79, 86, 89, 0.7);
          &:after{
            background: rgba(79, 86, 89, 0.7);
          }
        }

      }
    }

    @media screen and (min-width: 1024px) {
      &__btn{
        padding: 0 25px;
      }
    }

  }

  .order-card{

    &__label{
      width: 100%;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: 600px) {
        width: auto;
      }

      .unit-choice__label{

        width: 50%;
        span{
          opacity: 1;
        }
        &:last-child{

          span{
            color: #150F0F;
          }
          @media screen and (min-width: 600px) {
            margin-left: 40px;

            span{
              color: rgba(79, 86, 89, 0.7);
            }
          }
        }
      }

      .unit-choice__custom{
        width: 100%;
        @media screen and (min-width: 600px) {
          width: auto;
        }
      }
      span{
        font-family: 'PF Din Text Cond Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: #150F0F;
    
      }

      @media screen and (min-width: 600px) {
      
        span{
          font-size: 28px;
          line-height: 32px;
        }
      }

    
    }

    &__details{
      width: 100%;
      @media screen and (min-width: 600px) {
        background: #FFFFFF;
        width: 50%;
      }
    }

  }

  .linkLabel__box--red {
    svg{
      transform: rotate(0deg);

    }
  }

  .choice-box{

    &__header{
      padding: 11px 16px;

      @media screen and (min-width: 1024px) {
        padding: 23px 32px;
      }
    }
    &__title{
      font-family: 'PF Din Text Cond Pro';
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0.03em;
      font-size: 18px;
      line-height: 22px;
      color: #150F0F;
      padding: 0;

      span{
        display: block;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 2px;
      }

      @media screen and (min-width: 1024px) {
        font-size: 28px;
        line-height: 32px;
        span{
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.05em;
          margin-bottom: 4px;
        }
      }
    }
  }

}

.form-contacts{
  &.page__row{
    display: flex;
    justify-content: space-between;
  }

  .defaultModal{
    &__form{
      display: flex;
      flex-wrap: wrap;
    }

    &__input{

      font-weight: 300;
      font-size: 18px;
      line-height: 22px;

      @media screen and (min-width: 600px) {
        font-size: 20px;
        line-height: 24px;
      }

      @media screen and (min-width: 1600px) {
        font-size: 36px;
        line-height: 40px;
      }
      @media screen and (min-width: 1340px) {
        font-size: 28px;
        line-height: 32px;
      }
    
    }

  }

  .textarea-big{

    .defaultModal__input-placeholder{
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;

      @media screen and (min-width: 600px) {
        font-size: 20px;
        line-height: 24px;
      }
      @include for-1024(){
        font-size: 24px;
        line-height: 28px;
      }
      @media screen and (min-width: 1600px) {
        font-size: 36px;
        line-height: 40px;
        top: 40px;
      }
      @media screen and (min-width: 1340px) {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }

  .container--w100{
    margin-bottom: 8px;
  }

  .policy{
    width: 100%;
    background: #E5E5E5;

    @media screen and (min-width: 1024px) {
      margin: 0 0 8px 0;
    }

    @media screen and (min-width: 1340px) {
      margin: 0 8px 0 0;
      width: calc(50% - 8px);
    }
  }

  .contact-section__sidebar{
    @media screen and (min-width: 1024px) {
      margin-right: 32px;
    }
  }

  .button-bottom{
    position: fixed !important;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate3d(0,0,0);
    @media screen and (min-width: 1024px) {
      width: 100%;
      position: static !important;
    }

    @media screen and (min-width: 1340px) {
      width: 50%;
    }

    .defaultModal__linkLabel{
      height: 64px;

      @media screen and (min-width: 600px) {
        height: 76px;
        font-size: 40px;
        line-height: 40px;
      }

      @media screen and (min-width: 1024px) {
        height: 104px;
      }

      @media screen and (min-width: 1340px) {
        height: 100%;
      }
    }
    @media screen and (min-width: 1024px) {
      position: static;
    }
  }

}

label.error{
    position: absolute;
   
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
    
    letter-spacing: 0.05em;
    
    /* txt/primary */
    left: 16px;
    bottom: 4px;
    color: #DD2B1C;
    font-family: $DM;
    @include for-1024(){
      bottom: 10px;
      left: 32px;
    }
    @include for-1600(){
      font-size: 16px;
      line-height: 20px;
    }
}

// .arcticmodal-container {
//    overflow-x: hidden;
// }

.b-modal--100 {
   max-width: 100%;
   width: calc(100vw - 2px);
   .defaultModal__head-close{
    position: fixed;
   }
   .modal-content {
      background: #f5f5f5;
   }
}

.defaultModal__head--big {
   font-family: $TT;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   margin-bottom: 54px;
   background: #ededed;
  //  .defaultModal__head-title {
  //     font-size: 44px;
  //     line-height: 44px;
  //     font-weight: 700;
  //  }

   .defaultModal__head-desc {
      display: flex;
      flex-direction: column;
      margin-right: 68px;
   }

   .defaultModal__head-desc-head {
      font-family: $DM;
      display: block;
      margin-bottom: 4px;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;
      color: #150f0f;
   }

   .defaultModal__head-desc-text {
      font-family: $DM;
      font-size: 18px;
      line-height: 22px;
      font-weight: 500;
      color: #150F0F;
   }

   @media screen and (min-width: 600px) {
      // .defaultModal__head-title {
      //    font-size: 80px;
      //    line-height: 80px;
      //    font-weight: 700;
      // }

      .defaultModal__head-desc-head {
         font-size: 16px;
         line-height: 20px;
      }

      .defaultModal__head-desc-text {
         font-family: $DM;
         font-size: 20px;
         line-height: 24px;
      }
   }

   @media screen and (min-width: 1024px) {
      align-items: center;
      flex-direction: row;
      // .defaultModal__head-title {
      //    font-size: 60px;
      //    line-height: 60px;
      //    font-weight: 700;
      // }

      .defaultModal__head-desc {
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         text-align: right;
         margin-right: 68px;
      }

      .defaultModal__head-desc-text {
         font-family: $DM;
         font-size: 20px;
         line-height: 24px;
         font-weight: 500;
         color: #50575A;
      }
   }
}

.defaultModal {
   .modal-form__col-contain {
      padding-bottom: 8px;
      height: 104px;
   }
}

.modal-form__col-contain {
   background: none;

   @media screen and (min-width: 1024px) {
      background: #EDEDED;
   }
}

.defaultModal__subtitle {
   font-size: 44px;
   line-height: 44px;
   font-weight: 700;
   font-family: $TT;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   margin-bottom: 20px;
}

.form-box__window-flex {
   display: flex;
   flex-wrap: wrap;
   margin-left: -4px;
   margin-right: -4px;
   .item-col {
      padding-left: 4px;
      padding-right: 4px;
      flex: 0 0 auto;
      width: 100%;
      .card-filter__choice {
         margin-bottom: 8px;
      }

      &--order {
         order: 3;
      }

      &--5 {
         width: 50%;
      }

      @media screen and (min-width: 1024px) {
         &--3 {
            width: 30%;
         }

         &--order {
            order: 0;
         }
   
         &--5 {
            width: 50%;
         }
   
         &--7 {
            width: 70%;
         }
      }
   }
}

.defaultModal__box-container {
   padding-left: 16px;
   padding-right: 16px;
   padding-bottom: 60px;
   @include for-1024(){
    max-width: 1080px;
    padding-bottom: 40px;
   }
   @media screen and (min-width: 1340px) {
    
      margin: 0 auto;
     
   }

   @media screen and (min-width: 1600px) {
      max-width: 1248px;
      margin: 0 auto;
   }

   @media screen and (min-width: 1920px) {
      max-width: 1514px;
      margin: 0 auto;
   }
}
.defaultModal__container {
  .card-filter__choice{
    margin-bottom: 0;
  }
}

.container--w30 + .container--w70{
  @media (max-width:1023px){
    margin-top: 4px;
  }
}


// .defaultModal__container--order .defaultModal__input-placeholder{
//   @include for-1600(){
//     font-size: 24px;
//   }
// }

.form{
  &__box{
    &-item{
      display: flex;
      .form-box__block{
        margin-bottom: 0;
        width: 100%;
      }
      &--wrap{
        margin-left: -4px;
        margin-right: -4px;
        // @include for-1024(){
        //   margin-left: -4px;
        //   margin-right: -4px;
        // }
      }
      .defaultModal__container{
        // padding: 0 4px;
        margin-bottom: 0;
      }
      .order-card__label{
        margin-right: 0;
      }
      margin-bottom: 0;
      & + &{
        margin-top: 4px;
        @include for-1024(){
          margin-top: 8px;
        }
      }
      .modal-form__name{
        background: rgba(79,86,89,.05);
        height: 100%;
        padding: 0 32px;
        flex-shrink: 0;
        width: auto;
        @include for-1600(){
          font-size: 32px;
        }
      }
      .order-card__counter{
        margin-right: 0;
      }
      .counter{
        width: 100%;
        flex-shrink: 1;
      }
      .counter__btn{
        opacity: 1;
        width: 64px;
        flex-shrink: 0;
        background-color: #fff;
        margin: 0;
        flex-shrink: 0;
        span{
    
          width: 24px;
          height: 4px;
          background: rgba(79, 86, 89, 0.7);
      }
    }
    .order-card__details{
      width: 100%;
      flex-shrink: 1;
      .unit-choice{
        width: 100%;
        justify-content: center;
      }
    }
    .counter__btn--up span::after{
        height: 24px;
        width: 4px;
        background: rgba(79, 86, 89, 0.7);
    }
    .counter input[type=text].counter__input{
        width: 100%;
        margin: 0;
      
        border: none;
        font-size: 28px;
        line-height: 32px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        /* txt/black */
        
        color: #150F0F;
        font-family: $TT;
        font-weight: 700;
        // @include for-1024(){
        //   height: calc(100% - 8px);
        // }
        // @include for-1366(){
        //   height: 96px;
        // }
        @include for-1600(){
            font-size: 36x;
            line-height: 40px;
            width: 170px;
        }
    }
    .unit-choice{
        height: 100%;
        flex-shrink: 0;
        width: auto;
        padding: 0 50px;
        background-color: #fff;
        @include for-1600(){
            padding: 0 60px;
        }
        @include for-retina(){
            padding: 0 90px;
        }

    }
    .unit-choice__label{
        height: 100%;
       
        flex: auto;    
    }
    .unit-choice__custom{
        width: auto;
        height: 100%;
        font-weight: 700;
        font-size: 28px;
        line-height: 1;
        /* identical to box height, or 100% */
        
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        /* txt/black */
        
        color: #150F0F;
        font-family: $TT;        
        background: transparent;
        @include for-1600(){
            font-size: 36px;
        }
    }
    .unit-choice__label + .unit-choice__label{
        margin-left: 50px;
    }
    }
    &-itemWrap{
      display: flex;
      align-items: center;
      &--w50{
        width: 50%;
        padding: 0 4px;
        box-sizing: border-box;
        // @include for-1024(){
        //   padding: 0 8px;
        // }
    
      }
    }
  }
}

@media (max-width:1023px){
  .container--w70 + .container--w100{
    margin-top: 4px;
  }
}
.defaultModal__head{
  @media (max-width:1023px){
    background: #E5E5E5;
  }
}
.defaultModal__row--1366{
  @media (max-width:1023px){
    padding: 8px 32px 110px;
    background: #E5E5E5;
    .defaultModal__container.policy-wrap{
      background: #F5F5F5;
    }
  }
  @media (max-width:576px){
    padding: 8px 16px 80px;
    // background: #ededed;
  }
}

@media (max-width:1023px){
  .defaultModal__container.btn-fixed{
    position: fixed !important;
  }
}
.modal-form__col.w50{
  height: auto;
  @media (max-width:576px){
    width: 100%;
  }
}

@media (max-width:576px){
  .modal-form__body.flex-2{
    flex-wrap: wrap;
    gap:4px;
    .card-filter__choice{
      margin-bottom: 0;
    }
  }
}


.order-table{
  @include for-1366(){
    margin-bottom: 40px;
  }
}
.you-order__box{
  .counter input[type=text].counter__input, .unit-choice__custom{
    @include for-1024(){
      color: rgba(21, 15, 15, 0.7);
    }
  }
  @media (min-width:1023px) and (max-width:1599px){
    .counter input[type=text].counter__input{
      font-size: 24px;
      line-height: 28px;
    }

    .unit-choice__custom{
      font-size: 24px;
      line-height: 28px;
    }
  }
  @include for-1600(){
    .counter input[type=text].counter__input{
      font-size: 24px;
      line-height: 28px;
    }
    .unit-choice__custom{
      font-size: 24px;
      line-height: 28px;
    }
  }


}


.container--w100 + .container--w30{
  margin-top: 4px;
  @include for-1024(){
    margin-top: 0;
  }
}
.defaultModal__container.policy-wrap{
  margin-top: 4px;
  @include for-1024(){
    margin-top: 0;
  }
}

.btn-fixed{
  .linkLabel__box--form{
    padding: 18px 16px;
    font-size: 28px;
    line-height: 1;
    @include for-600(){
      font-size: 40px;

    }
    @include for-1024(){
      padding: 18px 32px;
    }
    @include for-1366(){
      font-size: 44px;
      padding: 30px 32px;
    }
    @include for-1600(){
      padding: 34px 48px;
    font-size: 60px;
    }
    svg{
      height: 16px;
      width: 16px;
      @include for-1366(){
        height: 24px;
        width: 24px;
      }
    }
  }
}