/* global */
.g-hidden {
  display: none;
}
.g-line {
  zoom: 1;
}
.g-line:after {
  content: '.';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* modal */
.b-modal {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  max-width: 1000px;
  @media screen and (min-width: 600px) {
    height: auto;
  }
}

/* modal */
.arcticmodal-overlay,
.arcticmodal-container {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11000;

  table{
    border-spacing: 0px;
  }
}
.arcticmodal-container {
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: collapse;
}
*:first-child + html .arcticmodal-container {
  height: 100%;
}
.arcticmodal-container_i {
  height: 100%;
  margin: 0 auto;
  width: 100%;
}

.arcticmodal-error {
  padding: 20px;
  border-radius: 10px;
  background: #000;
  color: #fff;
}


//! b-modal
.b-modal {
  border-radius: 3px;
  background-color: #fff;
  transform: translateY(150%);
  opacity: 0;
  transition: $transition;
  &.is-active {
    opacity: 1;
    transform: none;
    background: #EDEDED;

    @media screen and (min-width: 600px) {
      background: transparent;
    }

    &.b-modal--1366{
      @media screen and (min-width: 600px) {
        background: #EDEDED;
      }
    }
  }
  &--lit {
    max-width: 856px;
    width: 100%;
  }

  &--1366{
    max-width: 1340px;
    width: 100%;
  }
}

.policy-wrap{
  background: #F5F5F5;
  border-bottom: none;
  @media screen and (min-width: 1340px) {

    .policy-checkbox__text{
      max-width: 400px;
    }
  }
}

//! defaultModal

.defaultModal {
  &__linkLabel {
    height: 100%;
    width: 100%;
  }

  &__container--psr {
   position: relative !important;
   height: auto !important;
  }

  &__icon {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 16px;

   width: 24px;
   height: 24px;
   fill: rgba(79, 86, 89, 0.4);;
   @media screen and (min-width: 1340px) {
      right: 32px;
      width: 32px;
      height: 32px;
   }
  }

  &__wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   margin-bottom: 8px;

   @media screen and (min-width: 1340px) {
      flex-direction: row;
      gap: 8px;
      .defaultModal__container {
         width: 50%;
         &:first-child {
            max-width: 30%;
         }
         &:last-child {
            max-width: 70%;
         }
      }
   }
  }
  &__head {
    position: relative;
    box-sizing: border-box;
    padding: 16px 16px 32px;
    background: #ededed;

    @media screen and (min-width: 600px) {
      padding: 32px 32px 16px;
      background: #f5f5f5;
    }

    &-1366{
      @media screen and (min-width: 1340px) {
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 32px 100px 56px 32px;
      }
    }

    &-title {
      font-family: $TT;
      font-size: 44px;
      line-height: 44px;
      font-weight: 700;
      /* identical to box height, or 100% */

      letter-spacing: 0.05em;
      text-transform: uppercase;

      /* txt/black */

      color: #150f0f;
      margin-bottom: 8px;

      &--1366{
        span{
          display: block;
          @media screen and (min-width: 600px) {
            display: inline;
          }
        }
        @media screen and (min-width: 1340px) {
          font-size: 80px;
          line-height: 80px;
        }
      }
    }
    &-desc {
      font-family: $DM;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height, or 120% */

      letter-spacing: 0.03em;

      /* txt/black */

      color: #150f0f;

      &--1366{
        font-size: 14px;
        line-height: 16px;

        @media screen and (min-width: 600px) {
          font-size: 20px;
          line-height: 24px;
        }
        @media screen and (min-width: 1340px) {
          max-width: 350px;
         
        }
      }
    }
    &-close {
      position: absolute;
      right: 19px;
      top: 25px;
      z-index: 599;
      cursor: pointer;
  
      @media screen and (min-width: 600px) {
        top: 32px;
        right: 32px;
      }

      &--1366{
        @media screen and (min-width: 1340px) {
          top: 69px;
        }
      }
    }
  }

  .textarea{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    overflow: hidden;
    padding: 20px 16px;
    height: 100%;
    width: 100%;
    resize: none;
    border: none;
    font-family: 'PF Din Text Cond Pro';
    font-style: normal;
    font-weight: 300;
    font-weight: 300;
    color: #150F0F;
    min-height: 100%;

    @media screen and (min-width: 1024px) {
      padding: 32px 32px;
    }
  }

  &__textarea{

    @media screen and (min-width: 600px) {
      font-size: 28px;
      line-height: 32px;
    }
  
    letter-spacing: 0.03em;
    padding: 20px 32px;
    color: rgba(79, 86, 89, 0.7);
  }

  .textarea-big{
    min-height: 180px;

    

    &.defaultModal__container {

      position: relative;

      .defaultModal__input:focus~.defaultModal__input-placeholder, .defaultModal__input:not(:placeholder-shown)~.defaultModal__input-placeholder {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
  
        @media screen and (min-width: 1024px) {
          font-size: 28px;
          line-height: 32px;
        }

        @media screen and (min-width: 1340px) {
          font-size: 28px;
          line-height: 32px;
        }
  
        @media screen and (min-width: 1600px) {
          font-size: 28px;
          line-height: 32px;
        }
    
        transform: translateY(0%);
        top: 20px;
    }

      .defaultModal__input:focus~.defaultModal__input-placeholder, .defaultModal__input:not(:placeholder-shown):focus~.defaultModal__input-placeholder {
        transform: translateY(0%);
        font-size: 16px;
        line-height: 20px;
        top: 10px;
      }
    }



    @media screen and (min-width: 1340px) {
      min-height: 200px;
    }
  }

  &__row {
    display: flex;
    padding: 0 16px;
    flex-wrap: wrap;

    @media screen and (min-width: 600px) {
      padding: 0;

    }

    &--1366{
      padding: 0 16px 64px 16px;

      @media screen and (min-width: 600px) {
        gap: 8px;
      }

      @media screen and (min-width: 1340px) {
        padding: 0 143px 104px;
        gap: 8px;
      }
    }
  }

  &__container {
    position: relative;
    z-index: 50;


    @media screen and (min-width: 600px) {
      border: none;
    }    


    &:last-child{
      // border-bottom: none;
      // height: 64px;
      // // position: fixed;
      // bottom: 0;
      // left: 0;
      // right: 0;
      @media screen and (min-width: 600px) {
        height: auto;
        position: static;
      }

      &.btn-fixed{

        @media screen and (min-width: 600px) {
          height: 96px;
        }

        @media screen and (min-width: 1340px) {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }

    &--w50 {
      width: 100%;
      // background-color: #fff;

      @media screen and (min-width: 600px) {
        &:nth-child(2n) {
          border-left: 4px solid #f5f5f5;
          box-sizing: border-box;
        }
        &:nth-child(3),
        &:nth-child(4) {
          border-top: 4px solid #f5f5f5;
          box-sizing: border-box;
        }
        width: 50%;
      }
    }

  }
  &__input {
    font-family: $DM;
    appearance: none;
    height: 62px;
    font-size: 18px;
    line-height: 22px;
    border: none;
    outline: none;
    position: relative;
    z-index: 30;
    padding: 16px 0px 0px 32px;
    box-sizing: border-box;

    font-weight: 300;

    /* identical to box height, or 114% */

    letter-spacing: 0.03em;
    z-index: 80;
    /* txt/black */
    background-color: transparent;
    color: #150f0f;

    @media screen and (min-width: 1024px) {
      padding: 0 32px;
      height: 96px;
      font-size: 28px;
      line-height: 32px;

    }
    &-placeholder {
      font-family: $DM;
      font-weight: 300;
      
      /* identical to box height, or 114% */

      @media screen and (min-width: 600px) {
        font-size: 28px;
        line-height: 32px;
      }

      letter-spacing: 0.03em;

      /* txt/gray 1 70% */
      background-color: transparent;
      color: rgba(79, 86, 89, 0.7);

      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 32px;
      transition: $transition;
    }
    &-req {
      color: rgba(79, 86, 89, 0.7);
      position: absolute;
      left: 10px;
      top: 57%;
      transform: translateY(-50%);
      font-size: 30px;
      line-height: 28px;
      /* identical to box height, or 93% */

      font-family: $DM;
      letter-spacing: 0.03em;
      font-weight: 300;
    }

    &:focus ~ .defaultModal__input-placeholder,
    &:not(:placeholder-shown):focus ~ .defaultModal__input-placeholder {
      font-size: 14px;
      line-height: 16px;
      transform: translateY(-110%);
      @media screen and (min-width: 600px) {
        transform: translateY(-170%);
        font-size: 16px;
        line-height: 20px;
      }
    
    }
  }

  .container--w100{
    width: 100%;
    @media screen and (min-width: 1340px) {
      width: 100%;
    }
  }

  .container--w30{
    width: 100%;

    @media screen and (min-width: 1340px) {
      width: 30%;
    }
  }

  .container--w70{
    width: 100%;

    @media screen and (min-width: 1340px) {
      width: 65%;
      flex-grow: 10;
      background: #fff;
    }
  }

  .container--w50{
    width: 100%;

    @media screen and (min-width: 1340px) {
      width: 50%;
    }
  }

}
.defaultModal__input:focus ~ .defaultModal__input-placeholder,
.defaultModal__input:not(:placeholder-shown) ~ .defaultModal__input-placeholder {
  font-size: 14px;
  line-height: 16px;
  transform: translateY(-110%);

  @media screen and (min-width: 600px) {
    transform: translateY(-150%);
    font-size: 16px;
    line-height: 20px;
  }
  z-index: 70;
}

.policy-checkbox {
  input {
    display: none;
    &:checked + .policy-checkbox__container {
      .policy-checkbox__button svg {
        opacity: 1;
      }
    }
  }
  &__container {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    margin-right: 8px;
    flex-shrink: 0;
    background-color: #fff;

    @media screen and (min-width: 600px) {
      margin-right: 16px;
      height: 104px;
      width: 104px;
    }
    svg {
      transition: $transition;
      opacity: 0;
    }
  }
  &__text {
    font-family: $DM;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;

    /* or 125% */

    letter-spacing: 0.05em;

    /* txt/black */

    color: #150f0f;
    a {
      color: #dd2b1c;
    }
    // background-color: #F5F5F5;

    @media screen and (min-width: 600px) {
      font-size: 16px;
      line-height: 20px;
    }
  }
}

.modal-button {
  top: 150px;

  .main-btn {
    background: #504747;
    padding: 20px;
    margin: 10px 20px;
    width: 280px;
    display: flex;
    border: none;
    color: #fff;

    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
}

.mini-modal {
  max-width: 310px;
  height: auto;

  @media screen and (min-width: 600px) {
    max-width: 510px;
  }
  .defaultModal__head {
    background: #ededed;
    padding: 16px;

    b {
      display: block;
      @media screen and (min-width: 600px) {
        display: inline;
      }
    }
    span {
      color: #dd2b1c;
    }

    &-title {
      font-size: 32px;
      line-height: 32px;
      margin-bottom: 16px;

    }

    &-desc {
      font-size: 16px;
      line-height: 20px;
    }

    @media screen and (min-width: 600px) {
      padding: 32px;

      &-title {
        font-size: 44px;
        line-height: 44px;
      }

      &-desc {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }

  .defaultModal__head-close {
    right: 19px;
    top: 20px;

    @media screen and (min-width: 600px) {
      right: 32px;
      top: 41px;
    }
  }
}



//! modal-form

.modal-form{
  .defaultModal{
    background: #EDEDED;
  }

  &__row{
    margin-top: 8px;
    display: flex;
    position: relative;
    gap: 8px;

    &.row-wrap{
      flex-direction: column;
    }


    @media screen and (min-width: 600px) {
      padding-bottom: 104px;

      &.f-wrap{
        flex-wrap: wrap;
      }
    }
  }

  &__body{
    &.flex-3{
      display: flex;
      gap: 8px;
      flex-wrap: wrap;

      @media screen and (min-width: 800px) {
        flex-wrap: nowrap;
      }
    }
    &.flex-2{
      gap: 8px;
      display: flex;

      &-wrap{
        gap: 8px;
        display: flex;
        flex-wrap: wrap;

        @media screen and (min-width: 800px) {
          flex-wrap: nowrap;
        }
      }
    }
  }

  &__col{
    height: 60px;

    &.w33{
      width: 100%;
      height: 100%;
      @media screen and (min-width: 800px) {
        width: 30%;
        flex-grow: 10;
        
      }
    }

    &.w50{
      width: 100%;
      gap:8px;

      @media screen and (min-width: 800px) {
        width: 50%;
        
      }
    }

    &.w100{
      width: 100%;
    }

    &.col-first{
      width: 90%;

      @media screen and (min-width: 600px) {
        width: 50%;
      }
    }
    @media screen and (min-width: 600px) {
      height: 96px;
    }
    width: 50%;
    &-contain{
      display: flex;
      align-items: center;
      height: 100%;
      background: #F5F5F5;
    }
  }

  &__name{
    display: none;
    @media screen and (min-width: 600px) {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'PF Din Text Cond Pro';
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0.03em;
      color: rgba(79, 86, 89, 0.7);
      font-size: 22px;
      line-height: 32px;
    }

    @media screen and (min-width: 700px) {
      font-size: 28px;
    }
  }

  &__button{
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;

    .linkLabel__box--form{
      font-family: 'TT Bluescreens';
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
    }

    @media screen and (min-width: 600px) {
      position: absolute;
    }

  }

  &__head{
    &.defaultModal__head {
      background: #EDEDED;

      b{
        display: block;
        @media screen and (min-width: 600px) {
          display: inline;
        }
      }
    }

  }

  &__head-desc{
    p{
      font-family: 'PF Din Text Cond Pro';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 16px;

      @media screen and (min-width: 600px) {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 32px;

      }

      &:last-child{
        display: none;
        margin-bottom: 0;

        @media screen and (min-width: 600px) {
          display: block;
        }
      }

      span{
        display: block;
        margin-top: 4px;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        @media screen and (min-width: 600px) {
          display: inline;
          margin-top: 0;
        }
      }
    }
  }

  .counter {
    width: 100%;
    &__btn{
      background: rgba(79, 86, 89, 0.1);
    }
    @media screen and (min-width: 600px) {
      background: #FFFFFF;
      width: 50%;
      margin-right: 0;
      input{
        border: none !important;
      }
      &__btn{
        background: #FFFFFF;
        opacity: 1;
        padding: 0 10px;
        span{
          background: rgba(79, 86, 89, 0.7);
          &:after{
            background: rgba(79, 86, 89, 0.7);
          }
        }

      }
    }

    @media screen and (min-width: 1024px) {
      &__btn{
        padding: 0 25px;
      }
    }

  }

  .order-card{

    &__label{
      width: 100%;
      margin-right: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      @media screen and (min-width: 600px) {
        width: auto;
      }

      .unit-choice__label{

        width: 50%;
        span{
          opacity: 1;
        }
        &:last-child{

          span{
            color: #150F0F;
          }
          @media screen and (min-width: 600px) {
            margin-left: 40px;

            span{
              color: rgba(79, 86, 89, 0.7);
            }
          }
        }
      }

      .unit-choice__custom{
        width: 100%;
        @media screen and (min-width: 600px) {
          width: auto;
        }
      }
      span{
        font-family: 'PF Din Text Cond Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: #150F0F;
    
      }

      @media screen and (min-width: 600px) {
      
        span{
          font-size: 28px;
          line-height: 32px;
        }
      }

    
    }

    &__details{
      width: 100%;
      @media screen and (min-width: 600px) {
        background: #FFFFFF;
        width: 50%;
      }
    }

  }

  .linkLabel__box--red {
    svg{
      transform: rotate(0deg);

    }
  }

  .choice-box{
    margin-bottom: 0;

    &__header{
      padding: 11px 16px;

      @media screen and (min-width: 1024px) {
        padding: 20px 32px;
      }
    }
    &__title{
      font-family: 'PF Din Text Cond Pro';
      font-style: normal;
      font-weight: 300;
      letter-spacing: 0.03em;
      font-size: 18px;
      line-height: 22px;
      color: #150F0F;
      padding: 0;

      span{
        display: block;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 2px;
      }

      @media screen and (min-width: 600px) {
        font-size: 28px;
        line-height: 32px;
        span{
          font-size: 16px;
          line-height: 20px;
          letter-spacing: 0.05em;
          margin-bottom: 4px;
        }
      }
    }
  }

}

// ! form-contacts

.form-contacts{

  @media screen and (min-width: 1024px) {
    margin-bottom: 80px;
  }

  &.page__row{
    display: flex;
    justify-content: space-between;
  }

  .defaultModal{
    &__form{
      display: flex;
      flex-wrap: wrap;
    }

    &__input{

      font-weight: 300;
      font-size: 18px;
      line-height: 22px;

      @media screen and (min-width: 600px) {
        font-size: 20px;
        line-height: 24px;
      }

      @media screen and (min-width: 1600px) {
        font-size: 36px;
        line-height: 40px;
      }
      @media screen and (min-width: 1340px) {
        font-size: 28px;
        line-height: 32px;
      }
    
    }

    &__input-placeholder{
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;

      @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 24px;
      }

      @media screen and (min-width: 1600px) {
        font-size: 36px;
        line-height: 40px;
      }
      @media screen and (min-width: 1340px) {
        font-size: 28px;
        line-height: 32px;
      }
    }
  }

  .textarea-big{

    .defaultModal__input-placeholder{
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;

      @media screen and (min-width: 600px) {
        font-size: 20px !important;
      }

      @media screen and (min-width: 1340px) {
        font-size: 28px !important;
      }

      @media screen and (min-width: 1600px) {
        font-size: 36px !important;
        line-height: 40px;
      }
    }
  }

  .container--w100{
    margin-bottom: 8px;
  }

  .policy{
    width: 100%;
    background: #E5E5E5;

    @media screen and (min-width: 1024px) {
      margin: 0 0 8px 0;
    }

    @media screen and (min-width: 1340px) {
      margin: 0 8px 0 0;
      width: calc(50% - 8px);
    }
  }

  .contact-section__sidebar{
    @media screen and (min-width: 1024px) {
      margin-right: 32px;
    }
  }

  .button-bottom{
    position: fixed !important;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;

    @media screen and (min-width: 1024px) {
      width: 100%;
      position: static !important;
    }

    @media screen and (min-width: 1340px) {
      width: 50%;
    }

    .defaultModal__linkLabel{
      height: 64px;

      @media screen and (min-width: 600px) {
        height: 76px;
        font-size: 40px;
        line-height: 40px;
      }

      @media screen and (min-width: 1024px) {
        height: 104px;
      }

      @media screen and (min-width: 1340px) {
        height: 100%;
      }
    }
    @media screen and (min-width: 1024px) {
      position: static;
    }
  }

}




