
// no-scrollbar.scss

// no-scrollbar.scss

.no-scrollbar,.tabs__head {

    &::-webkit-scrollbar {
        display: none;
    }
    
    & {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}