// sub-categories-head.scss

// Sub Categories Head

.sub-categories-head {
    margin-bottom: 24px;

    @media screen and (min-width: 600px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 56px;
    }

    @media screen and (min-width: 1024px) {
        margin-bottom: 56px;
    }

    &__title {
        max-width: 250px;
        letter-spacing: 0.03em;
        margin-bottom: 16px;
        @media screen and (min-width: 600px) {
            max-width: 430px;
        }
    
        @media screen and (min-width: 1024px) {
            max-width: 712px; 
            margin-bottom: 40px;
        }

        @media screen and (min-width: 1340px) {
            max-width: 968px;
            letter-spacing: 0.02em;
            font-size: 120px;
            line-height: 120px;
        }

        @media screen and (min-width: 1600px) {
            max-width: 1052px;
            font-size: 144px;
            line-height: 144px;
        }

        @media screen and (min-width: 1920px) {
            max-width: 992px;
        }
    }

    &__description {
        margin-top: 0;
        line-height: 24px;
        letter-spacing: 0.03em;
        font-family: 'PF Din Text Cond Pro', serif;
        font-weight: 300;
        font-size: 16px;

        @media screen and (min-width: 600px) {
            max-width: 430px;
            font-size: 20px;
            line-height: 28px;
        }

        @media screen and (min-width: 1024px) {
            max-width: 548px;
            line-height: 24px;
            font-size: 16px;
            margin-left: 165px;


        }

        @media screen and (min-width: 1340px) {
            max-width: 744px;
            line-height: 36px;
            font-size: 24px;
            margin-left: 195px;
        }

        @media screen and (min-width: 1600px) {
            max-width: 752px;
            line-height: 40px;
            font-size: 24px;
            margin-left: 225px;
        }

        p:not(:first-child) {
            margin-top: 28px;

            @media screen and (min-width: 1024px) {
                margin-top: 24px;
            }
    
            @media screen and (min-width: 1340px) {
                margin-top: 36px;
            }
    
            @media screen and (min-width: 1600px) {
                margin-top: 40px;
            }
        }
    }

    &__more-button {
        margin-top: 8px;

        @media screen and (min-width: 1340px) {
            margin-top: 16px;
        }

        @media screen and (min-width: 1600px) {
            margin-top: 24px;
        }
    }
}